.default {
  border: 1px solid #185dc1;
  background-color: #0b1222;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  padding: 12px;
  min-width: 110px;
}

.default:hover {
  background-color: #185dc1;
}

.edit:hover {
  border: none;
}

.delete:hover {
  background-color: #fb4c59;
  border: none;
}

.cancel:hover {
  background-color: #6c757d;
  border: none;
}

.new {
  grid-column: 3;
}

.filter {
  min-width: 0;
}

@media screen and (max-width: 1390px) {
  .default {
    min-width: 0px;
  }
}

@media screen and (max-width: 768px) {
  .edit,
  .delete {
    width: 90px;
    padding: 0.5rem;
    font-size: 12px;
  }

  .filter{
    display: none;
  }
}
