fieldset {
	border: none;
}

.formContainer {
	background-color: var(--color-bg);
	color: var(--color-text);
	padding: var(--space-large);
	border: 1px solid var(--color-accent);
	border-radius: var(--border-radius);
}
.form {
	display: flex;
	flex-direction: column;
	gap: var(--space-medium);
	margin: var(--space-large) 0;
}

.buttonGroup {
	display: flex;
	gap: var(--space-xlarge);
}
