.listHeader {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.5rem;
  border: 1px solid #1f2937;
  border-radius: 5px;
  background-color: #1f2937;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
  text-transform: capitalize;
}

.listHeader p:last-child {
  place-self: center;
}

.listPanel {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.listPanel img{
  width: 14px;
  height: 14px;
}

.action {
  grid-column: 5;
}

@media screen and (max-width: 1030px) {
  .listHeader {
    grid-template-columns: repeat(4, 1fr);
  }
  .action {
    grid-column: 4;
  }
}


@media screen and (max-width: 628px) {
  .listHeader {
    display: none;
  }
}