.formGroup {
  display: flex;
  flex-direction: column;
}
.input {
  height: 2rem;
  padding: 0.5rem;
  font-weight: 600;
}

.error {
  display: none;
  color: #fb4c59;
}

.input:invalid p{
  display: block;
}
