.column {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: var(--space-small);
}

.column:hover {
	color: var(--color-accent);
}

.icons {
	width: 14px;
	height: 14px;
}

@media screen and (max-width: 1030px) {
	.category {
		display: none;
	}
}
