.confirmModal {
  position: absolute;
  color: #ffffff;
  background-color: #00000085;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.deleteContainer {
  background-color: #0b1222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid #f94c5b;
  border-radius: 8px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
