.default {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: var(--color-text);
	right: -30px;
	top: 60px;
	background-color: var(--color-text);
	border-radius: 50%;
	height: 20px;
	width: 20px;
	cursor: pointer;
	gap: var(--space-xsmall);
}

.default img {
	width: 16px;
	height: 16px;
	fill: var(--color-surface);
}

.infoText {
	position: absolute;
	background-color: var(--color-bg);
	border: 1px solid var(--color-accent-border);
	border-radius: var(--border-radius);
	padding: var(--space-medium);
	opacity: 0;
	width: 265px;
	bottom: 40px;
	pointer-events: none;
}

.default:hover .infoText {
	opacity: 1;
	transition: opacity 0.2s;
}

@media screen and (max-width: 1030px) {
	.default {
		display: none;
	}
}
