.card {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(5, 1fr);
	padding: var(--space-medium);
	border: 1px solid var(--color-surface);
	border-radius: var(--border-radius);
	background-color: var(--color-surface);
	color: var(--color-text);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-weight: bold;
	text-transform: capitalize;
}

.card:hover {
	border: 1px solid var(--color-primary);
}

.title {
	font-weight: bold;
}

.buttonGroup {
	display: flex;
	gap: var(--space-medium);
	place-self: center;
	grid-column: 5;
}

.buttonIcon {
	width: 14px;
	height: 14px;
	margin-right: 1rem;
}

.errorMessage {
	color: var(--color-accent);
	margin-top: var(--space-small);
}
