.card {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
  border: 1px solid #1f2937;
  border-radius: 5px;
  background-color: #1f2937;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
  text-transform: capitalize;
}

.card:hover {
  border: 1px solid #185dc1;
}

.title {
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  place-self: center;
}

