.card {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(5, 1fr);
	padding: var(--space-medium);
	border: 1px solid var(--color-surface);
	border-radius: var(--border-radius);
	background-color: var(--color-surface);
	color: var(--color-text);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-weight: bold;
	text-transform: capitalize;
}

.card:hover {
	border: 1px solid var(--color-primary);
}

.title {
	font-weight: bold;
}

.buttonGroup {
	display: flex;
	gap: var(--space-medium);
	place-self: center;
	grid-column: 5;
}

.buttonIcon {
	width: 14px;
	height: 14px;
	margin-right: 1rem;
}

.errorMessage {
	color: var(--color-accent);
	margin-top: var(--space-small);
}

@media screen and (max-width: 1030px) {
	.card {
		grid-template-columns: repeat(4, 1fr);
	}
	.category {
		display: none;
	}
	.buttonGroup {
		grid-column: 4;
	}
}

@media screen and (max-width: 768px) {
	.card {
		font-size: 12px;
	}

	.buttonGroup {
		gap: var(--space-xsmall);
	}
}

@media screen and (max-width: 628px) {
	.card {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.title {
		font-size: 22px;
	}
}

@keyframes fromGreenToOriginal {
	from {
		background-color: #12d499;
	}
	to {
		background-color: var(--color-surface);
	}
}
